[submodule "HAL"]
	path = HAL
	url = https://github.com/gwu-robotics/HAL.git
[submodule "SceneGraph"]
	path = SceneGraph
	url = https://github.com/gwu-robotics/SceneGraph.git
[submodule "Calibu"]
	path = Calibu
	url = https://github.com/gwu-robotics/Calibu.git
[submodule "Pangolin"]
	path = Pangolin
	url = https://github.com/gwu-robotics/Pangolin.git
[submodule "GLConsole"]
	path = GLConsole
	url = https://github.com/gwu-robotics/GLConsole.git
[submodule "Sophus"]
	path = Sophus
	url = https://github.com/gwu-robotics/Sophus.git
[submodule "miniglog"]
	path = miniglog
	url = https://github.com/gwu-robotics/miniglog
[submodule "Node"]
	path = Node
	url = https://github.com/gwu-robotics/Node.git
